
<div class="content login-content">
    <div class="row">
        <div class="login-form">
            <h2>Login</h2>
            <form name="loginForm" ng-submit="signin(loginForm.$valid)"
                novalidate role="form">
                <fieldset>
                    <div class="form-group"
                        ng-class="{ 'has-error' : loginForm.username.$invalid && !loginForm.username.$pristine }">
                        <input name="username" class="form-control" type="text"
                            placeholder="Email address" ng-model="data.username" required />
                        <p ng-show="loginForm.username.$invalid && !loginForm.username.$pristine"
                            class="help-block">Username is required.</p>
                    </div>
                    <!-- .form-group -->
                    <div class="form-group"
                        ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine }">
                        <input name="password" class="form-control" type="password"
                            placeholder="Password" ng-model="data.password" required>
                        <p ng-show="loginForm.password.$invalid && !loginForm.password.$pristine"
                            class="help-block">Password is required.</p>
                    </div>
                    <!-- .form-group -->
                    <button class="btn btn-primary" type="submit"
                        ng-disabled="loginForm.$invalid">Sign in</button>
                    <dataload-spinner dataloading='dataloading'></dataload-spinner>
                    <div ng-show="error" class="custom-alert-danger">{{error}}</div>
                </fieldset>
            </form>
            <p>
                <a href="#/registration">Register an account</a>
            </p>
        </div>
        <!-- login-form -->
    </div><!-- .row -->
</div><!-- .content -->
<div class="content about-content">
    <div class="row">
        <div class="bs-callout bs-callout-info" id="callout-navbar-breakpoint">
            <h4>Register at FDAlerts for alerts on:</h4>
            <p><span class="label label-info">Adverse events:</span> FDA’s publically available drug adverse event and medication error reports, and medical device adverse event reports.</p>
            <p><span class="label label-info">Recalls:</span> Enforcement report data, containing information gathered from public notices about certain recalls of FDA-regulated products.</p>
            <p><span class="label label-info">Labeling:</span> Structured Product Labeling (SPL) data for FDA-regulated human prescription drug, OTC drug and biological product labeling.</p>
          </div>
    </div><!-- .row -->
</div>