<div class="content">
	<div class="row">
		<div class="preference-form">
			<h2>Set your preferences</h2>
			<form class="form-horizontal" name="PreferenceForm" novalidate role="form">
				<fieldset>
				<div class="row">
                   
				</div>
				<div class="form-group row" ng-repeat="prefernce in preferences track by $index">
				    <label class="col-sm-2 control-label">Preference</label>
				    <div class="col-sm-2">
                        <select class="form-control" placeholder="Select preference" ng-model="prefernce.category" ng-change="preferenceSelectChanged($index)">
                            <option>Drug</option>
                            <option>Device</option>
                            <!-- <option>Food</option> -->
                        </select>
				    </div>  
				    <label class="col-sm-1 control-label" ng-show="prefernce.category">Search</label>
				    <div class="col-sm-3" ng-show="prefernce.category">
                   		<angucomplete placeholder="{{searchPlaceholder[prefernce.category]}}" prefernce="prefernce" pause="100" selectedobject="prefernce.selectedObject" localdata="prefernce.searchData" searchedobject="prefernce" searchfields="dataName" titlefield="dataName" minlength="1" inputclass="form-control form-control-small" matchclass="highlight"/>
                   </div>
                   <button class="btn btn-danger" ng-click="addSearchKeyword($index)" ng-show="prefernce.showAddButton && prefernce.searchedKeyword" ng-disabled="prefernce.isSearchKeywordAdded">Add Keyword</button> 
                   </br> 
               <!--    {{prefernce}} -->
                 
				</div>
				<!-- .form-group -->
				<div class="row">
					<button class="btn btn-info col-sm-2 col-sm-offset-1" ng-click="addPreference()">Set Preferences</button>
				    <button class="btn btn-primary col-sm-2 col-sm-offset-1"  ng-click="savePreferences()">Save</button>
				    <label id="dataSaved" class="col-sm-2 control-label" ng-show="dataSaved">Data Saved.</label>
				    <dataload-spinner dataloading='dataloading'></dataload-spinner>
				</div>
                </fieldset>
			</form>
		</div>
		<!-- login-form -->
	</div>
	<!-- .row -->
</div>
<!-- .content -->

