<div class="content" style="margin-bottom:30px;">
    <div class="preferenceEntity-form height-50-per no-x-overflow">
        <div class="row">
            <h2 class="col-sm-12 margin-left-15">Set your preferenceJsonDataObjects</h2>
        </div>
        <form class="form-horizontal" name="PreferenceForm" novalidate role="form">
            <fieldset>
                <div class="form-group row" ng-repeat="prefernce in preferenceJsonDataObjects track by $index">
                    <label class="col-sm-2 control-label">Preference</label>
                    <div class="col-sm-2">
                        <select class="form-control" placeholder="Select preferenceEntity"
                            ng-model="prefernce.category"
                            ng-change="preferenceSelectChanged($index)"
                            ng-disabled="prefernce.status === 'saved'">
                            <option>Drug</option>
                            <option>Device</option>
                            <option>Food</option>
                        </select>
                    </div><!-- .col-sm-2 -->
                    <label class="col-sm-1 control-label" ng-show="prefernce.category">Search</label>
                    <div class="col-sm-3" ng-show="prefernce.category">
                        <angucomplete
                            placeholder="{{searchPlaceholder[prefernce.category]}}"
                            prefernce="prefernce" pause="100"
                            selectedobject="prefernce.selectedObject"
                            localdata="prefernce.searchData" searchedobject="prefernce"
                            searchfields="dataName" titlefield="dataName" minlength="1"
                            inputclass="form-control form-control-small"
                            matchclass="highlight" />
                    </div><!-- .col-sm-3 -->
                    <button class="btn btn-danger col-sm-2" ng-click="addSearchKeyword($index)"
                        ng-show="prefernce.showAddButton && prefernce.searchedKeyword && prefernce.status !== 'saved'"
                        ng-disabled="prefernce.isSearchKeywordAdded">Add Keyword</button>
                    <button class="btn btn-info col-sm-2" ng-click="viewReport($index)"
                        ng-show="prefernce.status === 'saved'"
                        ng-disabled="false">View Report</button>
                </div><!-- .form-group .row -->
                <div class="form-group row" >
                    <button class="btn btn-info col-sm-2 col-sm-offset-2 push-right-10"
                        ng-click="addPreference()">Set Preferences</button>
                    <button class="btn btn-primary col-sm-2 col-sm-offset-1 push-right-10"
                        ng-click="savePreferences()">Save</button>
                    <label id="dataSaved" class="col-sm-2 control-label"
                        ng-show="dataSaved">Data Saved.</label>
                    <dataload-spinner dataloading='dataloading'></dataload-spinner>
                </div>
            </fieldset>
        </form>
    </div><!-- login-form -->
    <hr class="hr-weight-6">
    <div class="height-50-per" id="resultPage">
        <div class="container" ng-show="adverseReportData">
          <h2>Adverse Events</h2>
          <table class="table .table-striped .table-hover">
            <thead>
              <tr>
                <th>Manufacture Name</th>
                <th>Generic Name</th>
                <th>Model Number</th>
                <th>Event Type</th>
                <th>Date Of Event</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="adverse in adverseReportData">
                <td>{{adverse.manufacturerName}}</td>
                <td>{{adverse.genericName}}</td>
                <td>{{adverse.modelNumber}}</td>
                <td>{{adverse.eventType}}</td>
                <td>{{adverse.dateOfEvent | date: 'MM-dd-yyyy'}}</td>
              </tr>
            </tbody>
          </table>
        </div><!-- .container -->
        <div class="container" ng-show="enforcementReportData">
              <h2>Enforcement Reports</h2>
              <table class="table .table-striped .table-hover">
                <thead>
                  <tr>
                    <th>Recalling Firm</th>
                    <th>Product Description</th>
                    <th>Reason for Recall</th>
                    <th>Recall Initiation Date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="enforcement in enforcementReportData">
                    <td>{{enforcement.recallingFirm}}</td>
                    <td>{{enforcement.productDescription}}</td>
                    <td>{{enforcement.reasonForRecall}}</td>
                    <td>{{enforcement.recallInitiationDate  | date: 'MM-dd-yyyy'}}</td>
                  </tr>
                </tbody>
              </table>
        </div><!-- .container -->
        <div ng-show="!enforcementReportData && !adverseReportData"><h1>Click on 'View Report' for reports</h1></div>
    </div><!-- height-50-percentage -->
</div><!-- .content -->

